// bower:scss
// endbower

$orange: #e67e22;
$green:#27ae60;
$salad: #2ecc71;


body {
    background: url("../images/background.png");
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url("../images/wood.png")
   
}

.greenbox {
    margin: 50px auto 0 auto;

    max-width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: $green;
    border-radius: 20px;
    border: 19px outset $salad;
    padding: 60px; 

   
         h1 {
                 font-size: 60px;
                 color: white;
                 line-height: -5;
                 padding: 0px 40px;
                 text-align: center;
                 margin: 0px 0px 90px 0px;
                 display: block;
             }


                  


                        img {     
                                height: 35%;
                                width: 35%;
                                margin-bottom:100px;
                                margin-left: 90px;
                            }

                              form {
                                     background:#2ecc71;
                                     border-radius:5px;
                                     text-align: center;
                                     padding: 18px 10px;

                                     }

                                form .placeholder { 
                                    background: black;

                                    


                                }


                                    p  {   

                                        color: white;

                                    }
}                                           ul { 
                                                    color:#fff;
                                                    }




.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
