// bower:scss
// endbower

$green:#27ae60;
$salad: #2ecc71;
$white: #ecf0f1;
$grey: #95a5a6;
$orange: #f39c12;


* { 
    font-family: Helvetica, sans-serif,Arial;

}



body {
    background: url("../images/background.png");
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url("../images/wood.png")
   
}

.greenbox {
    margin: 50px auto 0 auto;

    max-width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: $green;
    border-radius: 20px;
    border: 20px outset $salad;
    padding: 60px; 
   
         h1 {
                 font-size: 60px;
                 color: white;
                 line-height: 1;
                 padding: 0px 40px;
                 text-align: center;
                 margin: 0px 0px 40px 0px;
                 display: block;
             }


                  


        img {     
                height: 65%;
                width: 65%;
                margin-bottom:100px;
                margin-left: 50px;
            }

         form {
             background:#2ecc71;
             border-radius:5px;
             text-align: center;
             padding: 20px;
             margin: 0px 10px;
            border-radius:20px;


             }

        form input  { 
             background: $white;
              height: 15px;
              width: 200px;
              margin: 10px 0px;
              padding: 10px;
               border-radius:20px;
               text-align: center;
               font-size: 13px;


            


        }


        p  {   

            color: white;


        }


        button { 
                 background: -linear-gradient (top, $salad, #27ae60);             
                  margin: 20px 0px 20px 0px;
                  height: 35px;
                  width: 150px;
                  border-radius:20px;
                  // border: 3px solid $grey;
                  font-size: 14px;
                  color: $green;

                

         }

        

}
                    


              
                
                         




